@{
    ViewBag.Title = "Submit";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device=width" />
    <title>Product Details</title>

</head>
<body>
    <div>
        <ul style="list-style:none">
            <li>@Html.ActionLink("Apple", "Products", "Products", new { @id = 1 }, null)</li>
            <li>@Html.ActionLink("Surface", "Products", "Products", new { @id = 2 }, null)</li>
            <li>@Html.ActionLink("Asus", "Products", "Products", new { @id = 3 }, null)</li>
            <li>@Html.ActionLink("Apple", "Products", "Products", new { @id = 4 }, null)</li>

        </ul>

    </div>
</body>


<h2>Offer just for you 24%</h2>